{% extends 'cms/base.html' %}

{% block title %}
    Update Password
{% endblock %}

{% block page_title %}
    Update your password
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
    {% breadcrumb "Change your password" "password_change" %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Change your password </h2>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                      <h3 class="card-title">Change password for {{ request.user.username }}</h3>
                      <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success btn-block">Change password</button>
                      </form>



                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
