{% extends 'cms/base.html' %}

{% block title %}
    Password Changed!
{% endblock %}

{% block page_title %}
    Password Changed!
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
    {% breadcrumb "Password Changed!" "password_reset_complete" %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Password Changed! </h2>
                    </div>

                    <p class="lead">You have successfully changed your password! You may now proceed to log in.
                    </p>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <a href="{% url 'login' %}" class="btn btn-primary btn-block">Proceed to log in</a>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
