{% extends 'cms/base.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block page_title %}
    Reset your password
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
    {% breadcrumb "Reset your password" "password_reset" %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Reset your password </h2>
                    </div>

                    <p class="lead">Enter your email address and we will send you a link to reset your password.
                    </p>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <form method="post">
                      {% csrf_token %}
                      {{ form|crispy }}

                      <button type="submit" class="btn btn-primary">Reset your password</button>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
