{% extends 'cms/base.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block page_title %}
    Reset your password
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
    {% breadcrumb "Reset your password" "password_reset_done" %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Reset your password </h2>
                    </div>

                    <p class="lead">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
                    </p>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
