{% extends 'cms/base.html' %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block page_title %}
    Change your password
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
    {% breadcrumb "Change your password" "password_reset_confirm" %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Change your password </h2>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% if validlink %}
                      <h3 class="card-title">Change password for {{ form.user.username }}</h3>
                      <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success btn-block">Change password</button>
                      </form>
                    {% else %}
                      <h3 class="card-title">Reset your password</h3>
                      <div class="alert alert-danger" role="alert">
                        It looks like you clicked on an invalid password reset link. Please try again.
                      </div>
                      <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
                    {% endif %}


                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
